<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internify-Internships</title>
</head>
<body>
    <h1>Internships</h1>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <form method="get" action="{% url 'view_all_internships' %}">
        <label for="search_by">Search by:</label>
        <select name="search_by" id="search_by">
            <option value="company_name">Company Name</option>
            <option value="internship_name">Internship Name</option>
        </select>
        <label for="query">Search:</label>
        <input type="text" name="query" id="query" required>
        <button type="submit">Search</button>
    </form>
  

    {% if internships %}
    <ul>
        {% for internship in internships %}
            <li>
                <a href="{% url 'apply_to_internship' internship_id=internship.id %}">{{ internship.title }}</a>
                <p>Company Name: {{internship.company.name}}</p>
                <p> Title: {{ internship.title }} </p>
                <p> Start Date: {{internship.start_date}} </p>
                <p> End Date: {{internship.end_date}} </p>
                <p> Location: {{internship.location}} </p>
                <p> Required Skills: {{internship.required_skills}} </p>
                <p>Qualifications: {{internship.qualifications}} </p>
                <p>Application Deadline: {{internship.application_deadline}} </p>
                <p>
                    {% if internship.accept_applications %}
                    <p>Company is accepting applications</p>
                    {% else %}
                    <p>Company is not accepting applications at the moment</p>
                    {% endif %}


                </p>
                {% comment %} <p>Is Published: {{internship.is_published}} </p> {% endcomment %}
                {% comment %} <p>Created At: {{internship.created_at}}</p> {% endcomment %}
                {% comment %} <a href="{% url 'update_internship' pk=internship.id %}">Update Internship</a> {% endcomment %}
                {% comment %} <a href="{% url 'delete_internship' pk=internship.id %}">Delete Internship</a> {% endcomment %}

                <p></p>
                <!-- Add more details as needed -->
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No internships available.</p>
    {% endif %}

    <a href="/profile">Profile</a>
    <a href="/view_all_internships">View all internships</a>

</body>
</html>