<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internify-Internships</title>
</head>
<body>
    <h1>Internships</h1>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  

    {% if internships %}
    <ul>
        {% for internship in internships %}
            <li>
                <a href="{% url 'internship_detail' pk=internship.id %}">{{ internship.title }}</a>
                <p> Title: {{ internship.title }} </p>
                <p> Start Date: {{internship.start_date}} </p>
                <p> End Date: {{internship.end_date}} </p>
                <p> Location: {{internship.location}} </p>
                <p> Required Skills: {{internship.required_skills}} </p>
                <p>Qualifications: {{internship.qualifications}} </p>
                <p>Application Deadline: {{internship.application_deadline}} </p>
                <p>Is Published: {{internship.is_published}} </p>
                <p>Created At: {{internship.created_at}}</p>
                <a href="{% url 'update_internship' pk=internship.id %}">Update Internship</a>
                <a href="{% url 'delete_internship' pk=internship.id %}">Delete Internship</a>
                <a href="{% url 'view_applications' internship_id=internship.id %}">View Applications</a>

                <p></p>
                <!-- Add more details as needed -->
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No internships available.</p>
    {% endif %}

    <a href="/profile">Profile</a>

</body>
</html>